[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = EthanMorin
	email = EthanMorin2004@gmail.com
[safe]
	directory = /home/ethanm/MEGA/school/y2/q3/DistributedSystems/GamesOAPI
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
